:root {
    --primary-bg: #e8b85a;
    --secondary-bg: #351507;
    --tertiary-bg: #221e27;

    --primary-color: #b64124;
    --secondary-color: #4c613d;
    --tertiary-color: #c8712f;
    --quaternary-color: #6a2f10;

    --font-family-primary: "Yeseva One", serif;
    --font-family-secondary: "Patua One", serif;

    --margin-xs: 0.25rem;
    --margin-sm: 0.5rem;
    --margin-md: 1rem;
    --margin-lg: 1.5rem;
    --margin-xl: 2rem;
    --margin-xxl: 3rem;

    --padding-xs: 0.25rem;
    --padding-sm: 0.5rem;
    --padding-md: 1rem;
    --padding-lg: 1.5rem;
    --padding-xl: 2rem;
    --padding-xxl: 3rem;

    --space-xs: 0.25rem;
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;
    --space-xxl: 3rem;
    --space-xxxl: 4rem;
}

html {
    scroll-behavior: smooth;
}


body {
    padding: 0;
    background-color: var(--tertiary-bg);
    color: var(--primary-color);
    font-family: var(--font-family-secondary);
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.2em;
    display: flex;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #271A2D;
    background: radial-gradient(circle, rgba(39, 26, 45, 1) 0%, rgba(32, 31, 37, 1) 50%, rgba(44, 26, 33, 1) 100%);
}



section {
    margin-bottom: var(--margin-xl);
}


.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--tertiary-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader {
    border: 8px solid var(--primary-bg);
    border-top: 8px solid var(--primary-color);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
}


.hr {
    border: 2px solid var(--secondary-color);
    margin: var(--margin-md) 0;
}

.decorative-border {
    position: relative;
    height: 50px;
    margin-bottom: var(--margin-md);
}

.decorative-border-top {
    border-top: 7px solid var(--primary-color);
}

.decorative-border-bottom {
    border-bottom: 7px solid var(--primary-color);
}

.decorative-border-primary {
    background: var(--primary-color);
    height: 40px;
    width: 100%;
}

.decorative-border-secondary {
    background: var(--secondary-color);
    height: 20px;
    width: 100%;
}

.decorative-border-mask-top {
    top: 5px;
    position: absolute;
    mask: conic-gradient(from -45deg at bottom, #0000, #000 1deg 89deg, #0000 90deg) 50%/40px 100%;
}

.decorative-border-mask-bottom {
    bottom: 5px;
    position: absolute;
    mask: conic-gradient(from 135deg at top, #0000, #000 1deg 89deg, #0000 90deg) 50%/40px 100%
}

.ticket {
    position: relative;
    float: left;
    border: 5px solid var(--secondary-color);
    padding: var(--padding-sm) 0;
    text-transform: uppercase;

}

.ticket:after,
.ticket:before,
.ticket .ticket-content:after,
.ticket .ticket-content:before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 15px;
    height: 15px;
    background:
        linear-gradient(var(--primary-bg), var(--primary-bg)) padding-box,
        var(--secondary-color);
}

.ticket:after {
    top: -5px;
    left: -5px;
    border-right: 5px solid var(--secondary-color);
    border-bottom: 5px solid var(--secondary-color);
    border-radius: 0 0 20px 0;
}

.ticket:before {
    top: -5px;
    right: -5px;
    border-left: 5px solid var(--secondary-color);
    border-bottom: 5px solid var(--secondary-color);
    border-radius: 0 0 0 20px;
}

.ticket .ticket-content {
    text-decoration: none;
    color: var(--primary-color);
}

.ticket .ticket-content:after {
    bottom: -5px;
    left: -5px;
    border-right: 5px solid var(--secondary-color);
    border-top: 5px solid var(--secondary-color);
    border-radius: 0 20px 0 0;
}

.ticket .ticket-content:before {
    bottom: -5px;
    right: -5px;
    border-left: 5px solid var(--secondary-color);
    border-top: 5px solid var(--secondary-color);
    border-radius: 20px 0 0 0;
}


.container {
    margin: auto;
    background-color: var(--primary-bg);
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 500px;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
        radial-gradient(circle, transparent 1px, rgba(255, 255, 255, 0.15) 1px),
        radial-gradient(circle, transparent 1px, rgba(0, 0, 0, 0.1) 1px);
    background-size: 3px 3px, 4px 4px;
    background-position: 0 0, 2px 2px;
    pointer-events: none;
    z-index: 1;
    opacity: 0.3;
    animation: grain 8s steps(10) infinite;
}

.header {

    padding: var(--padding-md);
}


.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: var(--padding-md);
}

.footer>div {
    padding: 0 var(--padding-md);
}

.footer-content {
    height: 64px;
    text-align: center;
    font-size: 1.5rem;
    background-color: var(--secondary-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-md);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-family: var(--font-family-secondary);
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
    line-height: 1;
    font-size: 2.5rem;
}

.nav-bar .ticket {
    padding: var(--padding-sm) var(--padding-md);
}

.nav-bar-link {
    text-decoration: none;
    color: var(--primary-color);
    position: relative;
    transition: color 0.3s ease;
    margin-left: var(--margin-md);
}

.nav-bar-link::after {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 0;
    height: 0.1em;
    background-color: var(--secondary-color);
    transition: width 0.3s ease;
}

.nav-bar-link:hover {
    color: var(--secondary-color);
}

.nav-bar-link:hover::after {
    width: 100%;
}


.hero {
    text-align: center;
}


.hero .hero-title {
    font-family: var(--font-family-primary);
    font-weight: 800;
    font-style: normal;
    letter-spacing: 0.1em;
    line-height: 1;
    text-transform: uppercase;
    font-size: clamp(4rem, 8vw, 12rem);
    text-shadow:
        0.15rem 0.15rem 0 var(--primary-bg),
        0.4rem 0.4rem 0 var(--secondary-color);
    margin-bottom: var(--margin-sm);
}

.hero .hero-tagline {
    font-family: var(--font-family-secondary);
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
    line-height: 1;
    text-transform: uppercase;
    font-size: clamp(1.5rem, 4vw, 3rem);
    color: var(--secondary-color);
    font-style: italic;
}


.intro {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--margin-xl);
    padding: 0 var(--padding-xxl);
}

.intro-image {
    grid-column: span 4;
    border: 0.35rem solid var(--primary-color);
    height: fit-content;
}

.intro-image img {
    width: 100%;
    display: block;
}

.intro-text {
    grid-column: span 8;
    font-family: var(--font-family-secondary);
    font-weight: 400;
    font-style: normal;
    line-height: 1;
}

.intro-text h2 {
    font-size: clamp(2rem, 4vw, 3.5rem);
    margin-bottom: var(--margin-xl);
}

.intro-text p {
    color: var(--secondary-color);
    font-size: clamp(1.5rem, 3vw, 2.2rem);
    line-height: 1.2;
}



.about {
    text-align: center;
}


.about-title {
    font-size: clamp(1.5rem, 3vw, 2.2rem);
    color: var(--primary-color);
    width: 100%;
    display: inline-block;
}

.about-title .ticket {
    padding: 0.5rem 1rem;
    width: 100%;
    display: inline-block;
    margin-bottom: var(--margin-xl);
}


.about-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--margin-xl);
    align-items: center;
    justify-items: center;
}

.about-item {
    grid-column: span 4;
    padding: 0;
    background-color: var(--primary-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 525px;
    aspect-ratio: 0.7;


    .about-image-dark {
        display: none;
    }

    .about-image-light {
        display: block;
    }
}

.about-item .about-content {
    height: 100%;
    width: 100%;
    padding: 0.5rem 1rem;
}

.about-item :hover {
    background-color: var(--tertiary-color);

    .about-image-dark {
        display: block;
    }

    .about-image-light {
        display: none;
    }

    .about-text-container {
        color: var(--primary-bg);
    }
}


.about-image-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.about-text-container {
    text-align: left;
}

.about-text-container h3 {
    font-size: 2rem
}

.about-text-container p {
    font-size: 1.5rem;
}



.contact {
    text-align: center;
}

.contact-title {
    font-size: clamp(1.5rem, 3vw, 2.2rem);
    color: var(--primary-color);
    width: 100%;
    display: inline-block;
}

.contact-title .ticket {
    padding: var(--padding-sm) var(--padding-md);
    width: 100%;
    display: inline-block;
    margin-bottom: var(--margin-xl);
}

.contact-form-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--margin-xl);
}

.contact-form {
    grid-column: span 5;
    padding: var(--padding-lg);
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    line-height: 1.5;
    text-align: left;
    text-transform: none;
    font-style: normal;
    font-weight: 400;
    font-family: var(--font-family-secondary);
}

.form-group {
    margin-bottom: var(--margin-lg);
}

.form-group label {
    display: block;
    margin-bottom: var(--margin-sm);
    color: var(--primary-color);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: var(--padding-sm);
    border: 4px solid var(--secondary-color);
    background-color: var(--primary-bg);
    color: var(--primary-color);
    font-family: var(--font-family-secondary);
    font-size: 1.5rem;
    border-radius: 0;
    outline: none;
    transition: border-color 0.3s ease;
    caret-color: var(--primary-color);

}

.form-group input:focus,
.form-group textarea:focus {
    border-color: var(--primary-color);
}

.form-group textarea {
    resize: vertical;
    min-height: 12rem;
}

.form-submit {

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--margin-xl);
}

.form-submit .ticket {
    background-color: var(--primary-bg);
    color: var(--primary-color);

    .submit-btn {
        color: var(--primary-color);
    }
}

.form-submit .ticket:hover {
    background-color: var(--tertiary-color);

    .submit-btn {
        color: var(--primary-bg);
    }
}

.submit-btn {
    background: none;
    border: none;
    color: var(--primary-color);
    font-family: var(--font-family-secondary);
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    transition: color 0.3s ease;
}



.contact-info {
    grid-column: span 7;
    display: flex;
    flex-direction: column;

}

.contact-info .ticket-content {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-lg);
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: left;
    text-transform: none;
}

.contact-info-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: var(--margin-xl);
}

.contact-info-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--margin-md);
    word-wrap: break-word;
    word-break: break-all;
    margin-bottom: var(--margin-md);
}

.contact-info-links a {
    color: var(--secondary-color);
    text-decoration: none;
    font-style: italic;
    transition: color 0.3s ease;
    text-decoration: underline;
    text-decoration-color: var(--secondary-color);
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

.contact-info-links a:hover {
    color: var(--tertiary-color);
    text-decoration-color: var(--tertiary-color);
}



/* --- Responsive Styles --- */

@media (max-width: 1024px) {

    .nav-bar {
        flex-direction: column;
        gap: var(--space-md);
    }

    .intro-image {
        grid-column: span 6;
    }

    .intro-text {
        grid-column: span 6;
    }

    .about-item {
        grid-column: span 6;
    }

    .contact-form,
    .contact-info {
        grid-column: span 12;
    }
}

@media (max-width: 768px) {
    .about-item {
        grid-column: span 12;
    }
}

@media (max-width: 480px) {


    .nav-bar {
        font-size: 1.5rem;
    }

    .decorative-border {
        height: 30px;
    }

    .decorative-border-primary {
        height: 25px;
    }

    .decorative-border-secondary {
        height: 15px;
    }

    .ticket {
        padding: var(--padding-xs) 0;
    }

    .contact-form {
        padding: var(--padding-md);
    }

    .contact-info .ticket-content {
        padding: var(--padding-md);
        font-size: 1rem;
    }
}


#toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.toast {
    padding: var(--padding-md) var(--padding-md);
    color: var(--primary-bg);
    font-family: var(--font-family-secondary);
    font-size: 1.5rem;
    text-transform: none;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.toast.show {
    opacity: 1;
    transform: translateX(0);
}

.toast.success {
    background-color: var(--secondary-color);
}

.toast.error {
    background-color: var(--primary-color);
}