body{
    font-family: 'Titillium Web', sans-serif;
    background-color: white;
    background-image: radial-gradient(#576F72 1.4000000000000001px, #F0EBE3 1.4000000000000001px);
    background-size: 35px 35px;
    z-index: -100;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


